<div style=" height:100vh; " class="p-3 ">
<div class="container"  [style.color]="colorUsuario"  [style.color]="colorUsuario">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="rolNombre">Nombre del Rol</label>
                    <input type="text" class="form-control" id="rolNombre" name="rolNombre"
                    [(ngModel)]="rolNombre" required>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Crear</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/listaRol">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>
</div>